<div th:fragment="main" class="col-md-10 ms-sm-auto main-content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Members</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addMemberModal">
                <i class="bi bi-plus"></i> Add Member
            </button>
        </div>
    </div>
    
    <div class="card-body">
        <div class="table-responsive" style=" overflow-y:auto;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Nickname</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <td th:text="${member.id}">1</td>
                        <td th:text="${member.firstName}">John</td>
                        <td th:text="${member.lastName}">Doe</td>
                        <td th:text="${member.nickName}">"The Tank"</td>
                        <td th:text="${member.email}">email@example.com</td>
                        <td>
                            <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editMemberModal"
                                th:attr="data-member-id=${member.id}" onclick="fetchMemberById(event)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <a th:href="@{/dashboard/member/{memberId}/billing(memberId=${member.id})}" class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-eye"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <!-- Previous button (always visible) -->
        <a th:href="${page == 0} ? '#' : @{/dashboard/members(page=${page-1})}" th:classappend="${page == 0} ? ' disabled' : ''"
            class="btn btn-sm btn-outline-primary">Previous</a>

    
        <!-- Next button -->
        <a th:href="@{/dashboard/members(page=${page+1})}" class="btn btn-sm btn-outline-primary">Next</a>
    </div>

</div>
