<!-- src/main/resources/templates/log-drink.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Drink</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="~{fragments/base-layout.html}">
        <h2>Log Drink for Test Name</h2>
        <div th:replace="~{fragments/drink-modal.html}"></div>
    </div>
</body>
</html>
