<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/layout/head :: head" pageTitle="Fraternity Beer Dashboard">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>


<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="fragments/layout/sidebar :: sidebar"></div>
            <!-- Main -->
            <div th:replace="fragments/members/main :: main"></div>
            </div>
        </div>

<div th:replace="fragments/members/modals/addMemberModal :: addMemberModal"></div>
<div th:replace="fragments/members/modals/editMemberModal :: editMemberModal"></div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>