<!-- src/main/resources/templates/fragments/drink-logger-modal.html -->
<div th:fragment="drinkLoggerModal" class="modal fade" id="memberModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal-size"> <!-- Custom size class -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title custom-modal-title" id="memberModalLabel">Member: <span id="modalMemberName"></span></h5> <!-- Custom font size -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="custom-modal-header">Drink</th> <!-- Custom header font size -->
                                <th class="custom-modal-header">Price</th> <!-- Custom header font size -->
                                <th class="custom-modal-header">Amount</th> <!-- Custom header font size -->
                            </tr>
                        </thead>
                        <tbody id="drinksTableBody">
                            <tr th:each="drink : ${drinks}" class="mb-5 mt-5">
                                <td th:text="${drink.name}" class="custom-modal-text">Drink Name</td> <!-- Custom text size -->
                                <td th:text="${drink.price} + ' €'" class="custom-modal-text">Price</td> <!-- Custom text size -->
                                <td>
                                    <div class="input-group" style="max-width: 150px;">
                                        <button class="btn btn-outline-secondary decrement" type="button">-</button>
                                        <input type="text" class="form-control text-center amount-input" value="0" readonly>
                                        <button class="btn btn-outline-secondary increment" type="button">+</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center w-100">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cancel</button> <!-- Larger button -->
                <button type="submit" class="btn btn-primary btn-lg" id="submitDrinks">Submit</button> <!-- Larger button -->
            </div>
        </div>
    </div>
</div>