<div th:fragment="main" class="col-md-10 ms-sm-auto main-content">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div>
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                    data-bs-target="#quickAddModal">
                    <i class="fas fa-plus"></i> Quick Add
                </button>
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#drinks">
                    <i class="fas fa-beer"></i> Drinks
                </button>
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#delivery">
                    <i class="fas fa-truck"></i> Delivery
                </button>
                <!-- POST form wrapper around Send Billing -->
                <form id="sendBillingForm" th:action="@{/dashboard/send-billing}" method="post" class="d-inline-block m-0 p-0">
                    <button type="button" class="btn  btn-primary" data-bs-toggle="modal" data-bs-target="#confirmBillingModal">
                        <i class="fas fa-envelope"></i> Send Billing
                    </button>
                </form>


            </div>
        </div>
    </div>
    <!-- Flash message -->
    <div th:if="${billingMessage}" class="alert alert-success">
        <span th:text="${billingMessage}"></span>
    </div>
    <!-- Stats Cards -->
    <div class="row">
        <div class="col-md-3">
            <div class="card stat-card">
                <div class="value" th:text="${membersCount}">42</div>
                <div class="label">Active Members</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card stat-card">
                <div class="value" th:text="'€ ' + ${monthlySpending}">$327</div>
                <div class="label">Monthly Spend</div>
            </div>
        </div>
    </div>
    <!-- Recent Activity -->
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Recent Consumption
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Drink</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="log : ${recentLogs}">

                                    <tr th:each="drinkQty : ${log.drinkQuantities}">
                                        <td
                                            th:text="${#strings.isEmpty(log.member.nickName) 
                                                ? log.member.firstName + ' ' + log.member.lastName 
                                                : log.member.nickName}">
                                        </td>
                                        <td th:text="${drinkQty.drink.name}">IPA</td>
                                        <td th:text="${drinkQty.qty}">1</td>
                                        <td th:text="${drinkQty.drink.price}"></td>
                                        <td th:text="${drinkQty.total}"></td>
                                        <td th:text="${#temporals.format(log.createdAt, 'dd.MM.yyyy - HH:mm:ss')}"></td>
                                        <td>
                                            <button 
                                                type="button" 
                                                class="btn btn-sm btn-outline-dark"
                                                data-bs-toggle="modal" 
                                                data-bs-target="#updateDrinkLog" 
                                                th:attr="data-drink-log-id=${drinkQty.id},
                                                data-drink=${drinkQty.drink.name},
                                                data-member=${log.member.firstName + ' ' + log.member.lastName + ' | ' + log.member.nickName}"
                                                onclick="setDrinkLogId(event)">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Inventory Status
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h6 class="d-flex justify-content-between">
                            <span>Drink</span>
                            <span>Qty.</span>
                        </h6>
                    </div>
                    <th:block th:if="${!drinks.isEmpty()}">
                        <div class="mb-3" th:each="drink : ${drinks}">
                            <h6 class="d-flex justify-content-between">
                                <span th:text="${drink.name}">IPA</span>
                                <span th:text="${drink.qty}">12/24</span>
                            </h6>
                            <!-- <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 50%;"></div>
                        </div> -->
                        </div>
                    </th:block>
                    <div class="mb-3" th:if="${drinks.isEmpty()}">No Drinks</div>
                    <button class="btn btn-primary w-100 mt-2">Order More</button>
                </div>
            </div>
        </div>
    </div>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmBillingModal" tabindex="-1" aria-labelledby="confirmBillingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmBillingModalLabel">Confirm Send Billing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to send billing emails now?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- The button that actually submits the form -->
                <button type="button" class="btn btn-success"
                    onclick="document.getElementById('sendBillingForm').submit();">
                    <i class="fas fa-envelope"></i> Yes, Send
                </button>
            </div>
        </div>
    </div>
</div>

</div>