<div th:fragment="sidebar" class="col-md-2 sidebar d-none d-md-block">
    <div class="logo" th:text="#{sidebar.logo}">BEER TRACKER</div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-home"></i> <span th:text="#{sidebar.dashboard}">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link" href="#members" data-bs-toggle="modal">
                <i class="fas fa-users"></i> Members
            </a> -->
            <a class="nav-link" href="/dashboard/members">
                <i class="fas fa-users"></i> <span th:text="#{sidebar.members}">Members</span>
            </a>
        </li>
        <li class="nav-item mt-4">
            <a class="nav-link" href="#">
                <i class="fas fa-cog"></i> <span th:text="#{sidebar.settings}">Settings</span>
            </a>
        </li>
    </ul>
</div>