<div th:fragment="quickAddModal" class="modal fade" id="quickAddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="quickAddForm" method="post" th:action="@{/dashboard/quick-add}">
                <div class="modal-header">
                    <h5 class="modal-title">Quick Add Consumption</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="memberSelect" class="form-label">Member</label>
                        <select class="form-select" id="memberSelect" name="memberId" required>
                            <option value="">Select a member</option>
                            <option th:each="member : ${members}" th:text="${member.firstName + ' ' + member.lastName + 
                                             (member.nickName != null ? ' (' + member.nickName + ')' : ' (no nickname)')}" th:value="${member.id}">
                                John Doe
                            </option>
                            
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="drinkSelect" class="form-label">Drink</label>
                        <select class="form-select" id="drinkSelect" name="drinkId" required>
                            <option value="">Select a drink</option>
                            <option th:each="drink : ${drinks}" th:text="${drink.name}"  th:value="${drink.id}">IPA</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="quantityInput" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantityInput" name="quantity" value="1" min="1"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Record Consumption</button>
                </div>
            </form>
        </div>
    </div>
</div>